<div class="row well well-sm">
  <div class='col-md-8'>
    <canvas id='<%= data_point %>-chart' width='100%' height='300%'></canvas>
  </div>
  <div class='col-md-3 col-md-offset-1'>
    <h4><%= data_point.upcase %></h4>
    <button class='downloadbutton btn btn-sm btn-primary btn-block' id='<%=data_point%>-DLButton'>Download To CSV</button>
    <hr>
    <p>Total: <span id='<%=data_point%>-total' class='totalspan' ></span></p>
    <p>Average: <span id='<%=data_point%>-average' class='avgspan' ></span></p>
  </div>
</div> <!-- Close Row -->
<br />