<h3><%= step.title %> || <small><%= step.url %></small></h3>	

<p><%= step.description %></p>
<p>External Link Count: <%= step.external_links.count %></p>
<p>Internal Link Count: <%= step.internal_links.count %></p>
<!-- <p>Internal Link Analysis</p>
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>Link Name</th>
    <th>Link Count</th>
  </tr>
  <% step.internal_links.each_pair do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
  <%end%>
</table> -->
